<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="学生管理系统">学生管理系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">管理后台</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/students}">学生管理</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/teachers}">教师管理</a></li>
                </ul>
                <ul class="navbar-nav">
                    <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
                </ul>
                
            </div>
        </div>
    </nav>

    <!-- 主体内容区域 -->
    <div class="container mt-4" layout:fragment="content">
        <!-- 子页面会覆盖这个部分 -->
        <p>默认内容</p>
    </div>

    <!-- JS 脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/js/student_edit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>