<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加学生</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">添加学生</h1>

        <form th:action="@{/students/new}" method="post">
            <div class="mb-3">
                <label for="age" class="form-label">学号</label>
                <input type="number" class="form-control" id="nums" name="nums" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">姓名</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">年龄</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <div class="mb-3">
                <label for="grade" class="form-label">年级</label>
                <input type="text" class="form-control" id="grade" name="grade" required>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">专业</label>
                <input type="text" class="form-control" id="major" name="major" required>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
            <a href="/students" class="btn btn-secondary ms-2">返回</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
